<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{email}}</p>

    </div>
    <article class="about">
        <h2>Sobre mí</h2>
        <p>
            Apasionado de la informática,  habiendo desarrollado mi carrera profesional en el ámbito socio-educativo, afrontando como  reto personal esta nueva etapa dentro del campo de la programación.
        </p>

    </article>
</body>
</html>